<div class="section">Review</div>

<div class="title" ng-if="outlook">
    <h2>What'd you think?</h2>
</div>

<div class="title" ng-if="!outlook && missedFields">
    <h2>{{ 'SORRY' | translate }},</h2>
    <p>{{ 'REVIEW.MISSED.NOTICE' | translate }}:</p>
    <p>
        <span ng-repeat="field in missedFields">
            {{ ('REVIEW.MISSED.' + field.toUpperCase()) | translate }}{{ $last ? '' : ', ' }}
        </span>
    </p>
</div>

<div class="description" ng-if="product">
    You recently purchased a <a href="{{ product.product_url }}">{{ product.name }}</a>. Please take a moment to review your purchase and help inform shoppers just like you.
</div>

<form ng-submit="handlers.processForm()">
    <div star-rating rating-value="formData.review_score"></div>

    <div class="form-field" ng-if="reviewTitleRequired">
        <label for="review_title">Review title:</label>
        <input class="form-input" id="review_title" name="review_title" type="text" ng-model="formData.review_title">
    </div>

    <div class="form-field">
        <label for="review_content">Review:</label>
        <textarea class="form-input" id="review_content" name="review_content" ng-model="formData.review_content" rows="6"></textarea>
    </div>

    <div class="form-field">
        <input name="commit" type="submit" value="{{ 'SUBMIT' | translate }}">
    </div>
</form>