<div>
    <div class="title">
        <h1>Awesome!</h1>
        <p>We really appriciate your review. Spread a word and share it with your friends.</p>
    </div>    

    <ul id="share" class="share" ng-init="shareLinks = product.social_network_links" ng-if="product">
        <li class="facebook" ng-init="handlers.social.common.init('facebook')">
            <a ng-click="handlers.social.facebook.click()"></a>
        </li>

        <li class="twitter" ng-init="handlers.social.twitter.init()">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ shareLinks.twitter }}" data-text="I just wrote a review on {{ product.name }}" data-lang="en" data-count="none" data-via="yotpo" data-size="large">Tweet</a>
        </li>

        <li class="linkedin" ng-click="handlers.social.common.click('linkedin')" ng-init="handlers.social.common.init('linkedin')">
            <script type="IN/Share" data-url="{{ shareLinks.linkedin }}" data-onsuccess="postLinkedIn"></script>
        </li>

        <li class="google" ng-init="handlers.social.common.init('google')">
            <div data-href="{{ shareLinks.google_oauth2 }}" class="g-plus" data-onendinteraction="postGoogle" data-action="share" data-annotation="none"></div>
        </li>
    </ul>

    <div class="buttons">        
        <a onclick="window.open('http://www.staples.com/office/supplies/StaplesOrderHistoryList','_blank'); return false;" class="button">Review Previous Purchases</a>
        <a onclick="window.open('http://www.staples.com/','_blank'); return false;" class="button gray">Continue Shopping</a>
    </div>
</div>