<div class="section">ÉVALUATION</div>

<div class="title">
    <h2>Quelle est votre impression ?</h2>
</div>

<div class="description" ng-if="product">
    Vous avez récemment acheté <a href="{{ product.product_url }}">{{ product.name }}</a>. Veuillez évaluer votre achat pour aider à informer d'autres acheteurs comme vous.
</div>

<form ng-init="errorHidden = {}">
    <div star-rating rating-value="formData.review_score" star-color="starsColor"></div>

    <div class="error score" ng-show="!outlook && (missedFields.indexOf('score') != -1) && !errorHidden.score">
      <div class="message">Ce champ doit être rempli. Veuillez saisir les renseignements.</div>
      <span class="close" ng-click="errorHidden.score = true">x</span>
    </div>

    <div class="form-field" ng-if="reviewTitleRequired">
        <label for="review_title">Titre de l'évaluation:</label>
        <input class="form-input" id="review_title" name="review_title" type="text" ng-model="formData.review_title">

        <div class="error" ng-show="!outlook && (missedFields.indexOf('title') != -1) && !errorHidden.title">
          <div class="message">Ce champ doit être rempli. Veuillez saisir les renseignements.</div>
          <span class="close" ng-click="errorHidden.title = true">x</span>
        </div>
    </div>

    <div class="form-field">
        <label for="review_content">Évaluation:</label>
        <textarea class="form-input" id="review_content" name="review_content" ng-model="formData.review_content" rows="6"></textarea>

        <div class="error" ng-show="!outlook && (missedFields.indexOf('content') != -1) && !errorHidden.content">
          <div class="message">Ce champ doit être rempli. Veuillez saisir les renseignements.</div>
          <span class="close" ng-click="errorHidden.content = true">x</span>
        </div>
    </div>

    <div class="form-field">
        <input name="commit" type="submit" value="{{ 'SUBMIT' | translate }}" ng-click="(errorHidden = {}) && handlers.processForm()">
    </div>
</form>
